:root {
  --bg-color: #adffe2;
  --form-bg: #ffffff;
  --text-color: #222;
  --accent: #13af8d;

  --dark-bg: #313131;
  --dark-form: #444;
  --dark-text: #fff;
  --dark-accent: #4effba;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: var(--bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: relative;
  overflow: hidden;
  transition: background 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: var(--dark-bg);
  color: var(--dark-text);
}

.overlay {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
  z-index: 1;
}

.form-container {
  z-index: 2;
  position: relative;
  background: var(--form-bg);
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.2);
  width: 320px;
  transition: 0.3s;
}

body.dark-mode .form-container {
  background: var(--dark-form);
}

.form-container h2 {
  margin-bottom: 20px;
  text-align: center;
}

.form-container form {
  display: flex;
  flex-direction: column;
}

.form-container input {
  padding: 12px 20px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
}

.form-container input::placeholder {
  color: #313131;
  font-size: 14px;
}

.form-container select {
  padding: 12px 16px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  background-color: #fff;
  color: #313131;
}

.form-container select option[disabled] {
  color: #999;
}

body.dark-mode .form-container select {
  background-color: #555;
  color: #fff;
}

body.dark-mode .form-container select option[disabled] {
  color: #aaa;
}

.form-container button {
  padding: 12px;
  background-color: var(--accent);
  border: none;
  border-radius: 8px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
  transition: background 0.3s;
}

.form-container button:hover {
  background-color: #0ac99f;
  color: #222;
}

body.dark-mode .form-container button {
  background-color: var(--dark-accent);
}

.form-container p {
  margin-top: 12px;
  text-align: center;
  font-size: 15px;
}

.form-container a {
  color: var(--accent);
  text-decoration: none;
  font-weight: 600;
  font-size: 16px;
}

.form-container a:hover {
  text-decoration: underline;
}

body.dark-mode .form-container a {
  color: var(--dark-accent);
}
